<!-- 
<body>
    <section>
        <h1>
            BUSCAR PERSONA POR DNI
        </h1>
        <div class="container">
            <div class="input">
                <input (keydown.enter)="consultar()" class="dni" id="dni" name="dni" placeholder="Número de DNI" type="number" [(ngModel)]="dniBuscar">
            </div>
            <div class="button">
                <button (click)="consultar()" id="boton">BUSCAR</button>
            </div>
        </div>
        <div class="resultado">
            <div class="dni">
                <div class="label">
                    <h2>Dni</h2>
                </div>
                <div class="res">
                    <input id="doc" readonly="" type="text" [(ngModel)]="persona.dni">
                </div>
            </div>
            <div class="nombre">
                <div class="label">
                    <h2>Nombre</h2>
                </div>
                <div class="res">
                    <input id="nombre" readonly="" type="text" [(ngModel)]="persona.nombre">
                </div>
            </div>
            <div class="apellido">
                <div class="label">
                    <h2>Apellido</h2>
                </div>
                <div class="res">
                    <input id="apellido" readonly="" type="text" [(ngModel)]="persona.apellido">
                </div>
            </div>
            <div class="cui">
                <div class="label">
                    <h2>Cui</h2>
                </div>
                <div class="res">
                    <input id="cui" readonly="" type="text"  [(ngModel)]="persona.cui">
                </div>
            </div>
        </div>
    </section>
</body> -->
<ngx-spinner>
    <P class="loading" style="color:white; margin-top: 6.5rem">Cargando...</P>
</ngx-spinner>
<body>
    <header>
        <h1>Consulta API RENIEC</h1>
    </header>
    <div class="container">
        <form (submit)="consultarDni($event)">
            <label for="dni">Ingrese DNI:</label>
            <input type="text" id="dni" name="dni" [(ngModel)]="dni" placeholder="Ingrese el número de DNI">
            <button type="submit">Consultar</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <!-- <th>Fecha de Nacimiento</th> -->
                    <th (click)="mostrarMensaje()">CUI<i style="float: right;"class="fas fa-info-circle"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ resultados.nombre }}</td>
                    <td>{{ resultados.apellido }}</td>
                    <td>{{ resultados.dni }}</td>
                    <!-- <td>{{ resultados.fechaNacimiento }}</td> -->
                    <td>{{ resultados.cui }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>